.game-second-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
    border-radius: 2vw;
}

.game-stats {
    background-color: #E2E3F4;
    margin-bottom: 2vw;
    border-radius: 5%;
    box-shadow:0 1vw 5vw rgba(0, 0, 0, 0.4);
}

.game-third-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0;
    border-radius: 2vw;
}