.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

.homepage {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 600px;
    width: 94%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3%;
    overflow-x: hidden;
}

.nba-logo-image-container {
    display: flex;
    align-items: center;
  }
  
.home-button-container {
    display: flex;
    margin-left: 35%;
}

.home-button {
    border: 1px solid #ccc;
    border-radius: 0;
    width: 160px;
    height: 60px;
    margin-bottom: -1px;
    font-size: 20px;
}

.page-title-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 500%;
    margin-bottom: 0;
    font-weight: 700;
}

.page-subtitle {
    font-size: 300%;
    margin-top: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.659);
}