.win-chart {
    width: 100%;
    height: 16vw;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

.win-chart p{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-size: 1vw;
    font-weight: bold;
}

.win-chart .home{
    color: rgba(170,0,5,1);
}
