$menuRedius: 0.5vw;

nav a:last-of-type {
    border-top-right-radius: $menuRedius;
    border-bottom-right-radius: $menuRedius;
}

nav a:first-of-type {
    border-top-left-radius: $menuRedius;
    border-bottom-left-radius: $menuRedius;
}

nav a {
    padding: 1vw 3.5vw;
    text-decoration: none;
    color: white;
    background-color: rgba(255,0,10,0.6);
}

a:hover {
    background-color: #221111;
}

.active{
    background-color:#221111;
    color:white;
}
