block styling
    link(rel= 'stylesheet', href='/stylesheets/footer.css')

block footer

    .footer
        .footer-text-container
            p 2023 Lorena Mamede, Victor Santos, Rafael Campos, Tiago Silva.
            p All rights reserved.