extends menu

block styling
    link(rel= 'stylesheet', href='/stylesheets/home.css')

block content

    .page-content-container
        p The data used in this project is available in Kaggle.
        p This project is part of UFRJ's Computer Science Bsc Program