doctype html

html
    head 
        title= title
        link(rel= 'stylesheet', href='/stylesheets/style.css')
        link(rel= 'stylesheet', href='/stylesheets/home.css')
    body 
        block content

    
block content 

    .homepage
        .nba-logo-image-container
            img(src='/images/logos/nba_logo.png' alt='NBA Logo')

            .home-button-container
                button.button(class='home-button') Home
                button.button(class='home-button') Teams
                button.button(class='home-button') Seasons
                button.button(class='home-button') Arenas
                button.button(class='home-button') Games
        
        .page-title-container
            h1(class='page-title') NBA Season Stats
            p(class='page-subtitle') From 2000 to 2020