doctype html

html
    head 
        title= title
        link(rel= 'stylesheet', href='/stylesheets/style.css')
        link(rel= 'stylesheet', href='/stylesheets/menu.css')
        block styling
    body
        .page
            block header
            block content 
            block footer

block header

    .homepage
        
        .nba-logo-image-container
            a(href='/users/homeButton')
                img(src='/images/logos/nba_logo.png' alt='NBA Logo')
            .home-button-container
                a(href='/users/homeButton')
                    button.homeButton(class='home-button') Home
                a(href='/users/teamsButton')
                    button.teamsButton(class='home-button') Teams
                a(href='/users/seasonsButton')
                    button.seasonsButton(class='home-button') Seasons
                a(href='/users/arenasButton')
                    button.arenasButton(class='home-button') Arenas
                a(href='/users/gamesButton')
                    button.gamesButton(class='home-button') Games
        
        .page-title-container
            h1(class='page-title')= page_title
            p(class='page-subtitle')= page_subtitle