.center{
    margin: 0 13vw;
}

.section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:0 1vw 5vw rgba(0, 0, 0, 0.4);
}

.section-content .section-title{
    margin-top: 3vw;
    font-size: 3.5vw;
    color: white;
    font-weight: bold;
}


.section-content .section-subtitle{
    font-size: 2vw;
    color: white;
}