.short-section {
    background-position: center;
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.short-content .section-title{
    margin-top: 3vw;
    font-size: 3.5vw;
    color: white;
    font-weight: bold;
}


.short-content .section-subtitle{
    font-size: 2vw;
    color: white;
}